*{
    padding: 0;
    margin: 0;
}
#game{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}
.animation{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    60%{top: 100px;}
    100%{top: 150px;}
}
#block{
    width: 20px;
    height: 20px;
    background: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: rock 1s infinite;
}
@keyframes rock{
    0%{left: 480px;}
    100%{left: -40px;}
}